@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary: #ecf0f3;
  --background-secondary: #e0e0e0;
  --background-title: #fff;
  --description-color: hsla(0, 0%, 18%, 0.769);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-primary: #0f172a;
    --background-secondary: #1e293b;
    /* --background-title: #334155; */
    --background-title : #15314b;;
    --description-color: hsla(0,0%,100%,.769);
  }
}


body {
  color: rgb(var(--foreground-rgb));
    background-color: var(--background-primary);
}


.dragger:hover {
  background-color: rgb(130, 149, 255) !important;
  user-select: none;
}

.cm-gutter {
  background-color: var(--background-primary) !important;
}


.tab:hover {
  background-color: var(--background-primary) !important;
  cursor: pointer;
}

.cm-editor {
  height: 100%;
}